# Group By

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Sam','Vanessa','Carl','Charlie'],
       'Sales':[200,120,340,124,243,350],
        'SalesLastYear': [150,170,500,100,240,300]}

In [4]:
data = pd.DataFrame(data)

In [5]:
data

  Company   Person  Sales  SalesLastYear
0    GOOG      Sam    200            150
1    GOOG  Charlie    120            170
2    MSFT      Sam    340            500
3    MSFT  Vanessa    124            100
4      FB     Carl    243            240
5      FB  Charlie    350            300

In [6]:
porempresa = data.groupby('Company')

In [7]:
porempresa.mean()

C:\Users\Luismi\AppData\Local\Temp\ipykernel_9704\1796865635.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  porempresa.mean()

         Sales  SalesLastYear
Company
FB       296.5          270.0
GOOG     160.0          160.0
MSFT     232.0          300.0

In [8]:
porempresa.std()

C:\Users\Luismi\AppData\Local\Temp\ipykernel_9704\4185998321.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  porempresa.std()

              Sales  SalesLastYear
Company
FB        75.660426      42.426407
GOOG      56.568542      14.142136
MSFT     152.735065     282.842712

In [9]:
porempresa.mean().loc['FB']

C:\Users\Luismi\AppData\Local\Temp\ipykernel_9704\959191243.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  porempresa.mean().loc['FB']

Sales            296.5
SalesLastYear    270.0
Name: FB, dtype: float64

In [10]:
data.groupby('Person').mean()

C:\Users\Luismi\AppData\Local\Temp\ipykernel_9704\887195973.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('Person').mean()

         Sales  SalesLastYear
Person
Carl     243.0          240.0
Charlie  235.0          235.0
Sam      270.0          325.0
Vanessa  124.0          100.0