# Ejercicios

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings 
warnings.filterwarnings('ignore')

from pathlib import Path
data_path = Path('../data')

%matplotlib inline

data = pd.read_csv('Chicago_Crimes_2017.csv')

In [50]:
import matplotib.patches as mpatches

fig, ax = plt.subplots(figsize = (20,8))
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
data['month'] = data['Date'].dt.month

battery_crimes = data[data['PrimaryType'] == "BATTERY"].groupby("month").size();



crimes_by_month = data.groupby('month').size()



ax.bar(x=crimes_by_month.index,height=crimes_by_month.values)
ax1=ax.tiwnx();
ax1.scatter(x=battery_crimes.index,y=battery_crimes.values)

ax.set_xticks(crimes_by_month.index.values)
ax.set_title("Nº de crimenes por mes")
ax.set_ylabel("Meses del año")

bar = mpatches.Patch(color="blue", label= "Nº crimenes")
                     battery = mpatches.Patch(color="blue", label= "Nº crimenes")

SyntaxError: unmatched ')' (899175416.py, line 23)

In [34]:
data.head()

,ID,CaseNumber,Date,Block,IUCR,PrimaryType,Description,Location Description,Arrest,Domestic,...,CommunityArea,FBICode,X Coordinate,Y Coordinate,Year,UpdatedOn,Latitude,Longitude,Location,month
0,10801165,JA100077,2017-01-01 01:00:00,0000X W DIVISION ST,0460,BATTERY,SIMPLE,BAR OR TAVERN,True,False,...,8.0,08B,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
1,10801166,JA100115,2017-01-01 01:23:00,084XX S SANGAMON ST,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,SIDEWALK,True,False,...,71.0,24,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
2,10801090,JA100010,2017-01-01 00:01:00,064XX S STONY ISLAND AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,42.0,14,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
3,10801101,JA100031,2017-01-01 00:00:00,074XX S SOUTH CHICAGO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,69.0,14,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
4,10801104,JA100015,2017-01-01 00:00:00,004XX W 66TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,68.0,08B,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1

In [42]:
battery_crimes.size()

month  PrimaryType
1      ARSON                                  5
       ASSAULT                              314
       BATTERY                              852
       BURGLARY                             288
       CONCEALED CARRY LICENSE VIOLATION      1
                                           ...
12     ROBBERY                               31
       SEX OFFENSE                            3
       STALKING                               1
       THEFT                                143
       WEAPONS VIOLATION                     12
Length: 244, dtype: int64

In [43]:
battery_crimes.head()

,ID,CaseNumber,Date,Block,IUCR,PrimaryType,Description,Location Description,Arrest,Domestic,...,CommunityArea,FBICode,X Coordinate,Y Coordinate,Year,UpdatedOn,Latitude,Longitude,Location,month
0,10801165,JA100077,2017-01-01 01:00:00,0000X W DIVISION ST,0460,BATTERY,SIMPLE,BAR OR TAVERN,True,False,...,8.0,08B,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
1,10801166,JA100115,2017-01-01 01:23:00,084XX S SANGAMON ST,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,SIDEWALK,True,False,...,71.0,24,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
2,10801090,JA100010,2017-01-01 00:01:00,064XX S STONY ISLAND AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,42.0,14,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
3,10801101,JA100031,2017-01-01 00:00:00,074XX S SOUTH CHICAGO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,69.0,14,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
4,10801104,JA100015,2017-01-01 00:00:00,004XX W 66TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,68.0,08B,NaN,NaN,2017,01/08/2017 03:48:20 PM,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10616,10825503,JA126634,2017-09-01 00:01:00,069XX S INDIANA AVE,0291,CRIM SEXUAL ASSAULT,ATTEMPT NON-AGGRAVATED,RESIDENCE,False,False,...,69.0,02,NaN,NaN,2017,01/24/2017 03:55:11 PM,NaN,NaN,NaN,9
11319,10826914,JA128090,2017-04-01 20:30:00,080XX S LANGLEY AVE,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,False,False,...,44.0,17,NaN,NaN,2017,01/25/2017 03:54:12 PM,NaN,NaN,NaN,4
11343,10827611,JA129004,2017-06-01 22:00:00,079XX S COTTAGE GROVE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,True,...,44.0,02,NaN,NaN,2017,01/25/2017 03:54:12 PM,NaN,NaN,NaN,6
11347,10827801,JA129063,2017-11-01 13:00:00,016XX S ALLPORT ST,5093,NON-CRIMINAL,LOST PASSPORT,RESIDENCE,False,False,...,31.0,26,NaN,NaN,2017,01/25/2017 03:54:12 PM,NaN,NaN,NaN,11
11356,23106,JA102078,2017-02-01 09:14:00,025XX N LOWELL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,20.0,01A,NaN,NaN,2017,01/25/2017 03:54:12 PM,NaN,NaN,NaN,2