# Pickle

In [2]:
import pandas as pd

In [3]:
data_folder_in = "datos/{}"
data_folder_out = "datos/escritura/{}"

iconos = 'iconos.csv'
pkl = 'iconos.pkl'

In [4]:
df = pd.read_csv(data_folder_in.format(iconos), sep=";")
df

  Icono     code                             name
0     游  U+1F600                    grinning face
1     游땎  U+1F603      grinning face with big eyes
2     游땏  U+1F604  grinning face with smiling eyes
3     游때       U+   beaming face with smiling eyes

In [5]:
df.to_pickle(data_folder_out.format(pkl))

In [6]:
df = None

In [7]:
import pickle
df = pickle.load(open(data_folder_out.format(pkl), "rb" ) )
df

  Icono     code                             name
0     游  U+1F600                    grinning face
1     游땎  U+1F603      grinning face with big eyes
2     游땏  U+1F604  grinning face with smiling eyes
3     游때       U+   beaming face with smiling eyes

In [8]:
pickle.dump(df, open( data_folder_out.format(pkl), "wb" ) )
df = None

In [9]:
df = pickle.load(open(data_folder_out.format(pkl), "rb" ) )
df

  Icono     code                             name
0     游  U+1F600                    grinning face
1     游땎  U+1F603      grinning face with big eyes
2     游땏  U+1F604  grinning face with smiling eyes
3     游때       U+   beaming face with smiling eyes